## Section 0: Ong Song Yi

## Importing Libraries

In [16]:
import pandas as pd

## Reading Data Files

In [17]:
malaria_deaths = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2018/2018-11-13/malaria_deaths.csv')
malaria_deaths_age = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2018/2018-11-13/malaria_deaths_age.csv')
malaria_inc = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2018/2018-11-13/malaria_inc.csv')

In [18]:
malaria_deaths.head()

,Entity,Code,Year,"Deaths - Malaria - Sex: Both - Age: Age-standardized (Rate) (per 100,000 people)"
0,Afghanistan,AFG,1990,6.802930
1,Afghanistan,AFG,1991,6.973494
2,Afghanistan,AFG,1992,6.989882
3,Afghanistan,AFG,1993,7.088983
4,Afghanistan,AFG,1994,7.392472

In [19]:
malaria_deaths_age.head()

   Unnamed: 0       entity code  year age_group      deaths
0           1  Afghanistan  AFG  1990   Under 5  184.606435
1           2  Afghanistan  AFG  1991   Under 5  191.658193
2           3  Afghanistan  AFG  1992   Under 5  197.140197
3           4  Afghanistan  AFG  1993   Under 5  207.357753
4           5  Afghanistan  AFG  1994   Under 5  226.209363

In [20]:
malaria_inc.head()

,Entity,Code,Year,"Incidence of malaria (per 1,000 population at risk) (per 1,000 population at risk)"
0,Afghanistan,AFG,2000,107.100000
1,Afghanistan,AFG,2005,46.500000
2,Afghanistan,AFG,2010,23.900000
3,Afghanistan,AFG,2015,23.600000
4,Algeria,DZA,2000,0.037746