# Import Libraries

In [1]:
import glob
import pandas as pd

# Reading CSV files

In [2]:
all_files = glob.glob('Data/' + '*.csv')
all_files

['Data\\holidays_events.csv',
 'Data\\oil.csv',
 'Data\\sample_submission.csv',
 'Data\\stores.csv',
 'Data\\test.csv',
 'Data\\train.csv',
 'Data\\transactions.csv']

In [3]:
for path in all_files:

    # String slicing
    start = path.find('\\') + 1
    end = path.find('.')

    # Define Dataframe name
    df_name = path[start:end]

    # Reading CSV file and define its name
    locals()[df_name] = pd.read_csv(path)

# EDA

In [4]:
train

,Unnamed: 0.1,Unnamed: 0,id,date,store_nbr,family,sales,onpromotion
0,0,0,0,2013-01-01,1,AUTOMOTIVE,0.000,0
1,1,1,1,2013-01-01,1,BABY CARE,0.000,0
2,2,2,2,2013-01-01,1,BEAUTY,0.000,0
3,3,3,3,2013-01-01,1,BEVERAGES,0.000,0
4,4,4,4,2013-01-01,1,BOOKS,0.000,0
...,...,...,...,...,...,...,...,...
3000883,3000883,3000883,3000883,2017-08-15,9,POULTRY,438.133,0
3000884,3000884,3000884,3000884,2017-08-15,9,PREPARED FOODS,154.553,1
3000885,3000885,3000885,3000885,2017-08-15,9,PRODUCE,2419.729,148
3000886,3000886,3000886,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8
3000887,3000887,3000887,3000887,2017-08-15,9,SEAFOOD,16.000,0